
body{
    background-color: #272822;
    color: #CCCCCC;
}

::-webkit-scrollbar {
    width: 4px;
}
 
::-webkit-scrollbar-track {
}
 
::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #333333;
}

ul{
    list-style: none;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#topbar{
    position: relative;
    padding: 8px;
    background-color: #141411;
}

#logo{
    display: inline-block;
    margin-left: 12px;
    font-weight: 800;
    color: cccccc;
}

#nav{
    display: inline-block;
    font-size: 14px;
    margin-left: 30px;
    color: bbbbbb;
}

#nav li{
    display: inline-block;
    margin-right: 10px;
}

#body-wrapper{
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex: 1;
}

#lectures{
    position: relative;
    flex-shrink: 1;
    padding-top: 8px;
    color: #aaaaaa;
}

#lectures:hover span.lecture-title{
    display: inline;
}

#lectures span.lecture-title{
    display: none;
}

#lectures li{
    cursor: pointer;
    padding: 7px 10px;
}

#lectures li:hover{
    background-color: #595959;
}

#lectures li.active{
    background-color: #595959;
    color: dddddd;
}

#content-wrapper{
    position: relative;
    flex: 1;
}

#content{
    display: flex;
    vertical-align: top;
    position: absolute;
    top: 34px;
    bottom: 0;
    left: 0;
    right: 0;
}

#lectures-wrapper{
    position: relative;
    height: 100%;
    overflow-y: scroll;
    vertical-align: top;
    font-size: 12px;
    flex-shrink: 1;
}


.tabs{
    padding-top: 5px;
    font-size: 13px;
    color: #bbbbbb;
}

.tabs .tab{
    display:inline-block;
    padding: 5px 12px;
    min-width: 150px;
    background-color: #333333;
    border-radius: 5px 5px 0px 0px;
}

#left-wrapper{
    width: 50%;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
}

#editor-wrapper{
    height: 70%;
    flex: 4;
    vertical-align: top;
    display: flex;
    flex-direction: column;
    position: relative;
}

#editor-run{
    background-color: #666666;
    padding: 3px 10px;
    border: 0px;
}

#editor {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 16px;
}

#output-wrapper{
    flex: 2;
}

#output{
    overflow-y: scroll;
}

#right-wrapper{
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

#slide-wrapper{
    vertical-align: top;
    height: 50%;
}

#slide{
    border-left: 1px solid #333333;
    height: 100%;
}

#ref-wrapper{
    position:relative;
    height: 50%;
}

#reference{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 33px;
    border-left: 1px solid #333333;
    overflow-y: scroll;
}

#refernece-select{
    background-color: #444444;
    border: 0px;
    padding: 2px;
}

