
body{
    background-color: #272822;
    color: #CCCCCC;
}

::-webkit-scrollbar {
    width: 4px;
}
 
::-webkit-scrollbar-track {
}
 
::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #333333;
}

ul{
    list-style: none;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

pre{
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

#topbar{
    position: relative;
    padding: 8px;
    background-color: #141411;
    cursor: default;
}

#topbar-inner{
    position: relative;
    text-align: center;
}

#logo{
    position: absolute;
    bottom: 0;
    margin-left: 12px;
    font-weight: 800;
    color: cccccc;
}

.nav{
    display: inline-block;
    font-size: 14px;
    margin-left: 30px;
    color: bbbbbb;
}

.nav li{
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
    font-weight: 400;
}

#lecture-title-wrapper{
    display: inline-block;
}

#lecture-title-bar{
    display: flex;
    text-align: center;
    margin: auto;
}

#lecture-title-bar>div{
    vertical-align: middle;    
    margin: 0px 10px;
}

#lecture-title{
    vertical-align: bottom;
    font-weight: 600;
}

.lecture-nav-btn{
    vertical-align: bottom;
    cursor: pointer;
}

#nav-right{
    position: absolute;
    bottom: 0;
    right: 0;
}

#body-wrapper{
    display: flex;
    position: absolute;
    top: 38px;
    right: 0;
    bottom: 0;
    left: 0;
}

#lectures-wrapper{
    padding-top: 2px;
    color: #aaaaaa;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    vertical-align: top;
    font-size: 12px;
    flex-shrink: 1;
}

#lectures{
    position: relative;
}

#lectures:hover span.lecture-title{
    display: inline;
}

#lectures span.lecture-title{
    display: none;
}

#lectures li{
    cursor: pointer;
    padding: 7px 10px;
}

#lectures li:hover{
    background-color: #595959;
}

#lectures li.active{
    background-color: #595959;
    color: dddddd;
}

#content-wrapper{
    position: relative;
    flex: 1;
}

#content{
    display: flex;
    vertical-align: top;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.tabs{
    cursor:default;
    padding-top: 5px;
    font-size: 13px;
    color: #bbbbbb;
}

.tabs .tab{
    display:inline-block;
    padding: 5px 12px;
    min-width: 150px;
    background-color: #333333;
    border-radius: 5px 5px 0px 0px;
}

#left-wrapper{
    width: 50%;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
}

#editor-wrapper{
    height: 70%;
    vertical-align: top;
    flex-direction: column;
    position: relative;
}

#editor-run{
    background-color: #666666;
    padding: 3px 10px;
    border: 0px;
}

#editor {
    position: absolute;
    top: 32px;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 16px;
}

#output-wrapper{
    height: 30%;
    position: relative;
}

#output{
    position: absolute;
    top: 32px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
}

#right-wrapper{
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

#slide-wrapper{
    position: relative;
    vertical-align: top;
    height: 50%;
}

#slide{
    position: absolute;
    top: 32px;
    bottom: 0;
    left: 0; right: 0;
    border-left: 1px solid #333333;
    overflow-y: scroll;
}

.slide-item{
    cursor: pointer;
    text-align: center;
    padding: 10px 0px;
}

#slide .active{
    
}

.slide-item:hover{
    background-color: #333;
}

#ref-wrapper{
    position:relative;
    height: 50%;
}

#reference{
    position: absolute;
    font-size: 16px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 33px;
    border-left: 1px solid #333333;
    overflow-y: scroll;
}

#reference .ace_gutter-layer{
    display:none;
}

#refernece-select{
    background-color: #444444;
    border: 0px;
    padding: 2px;
}

