<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>코딩 맛보기</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/jquery-2.2.1.min.js"></script>
    <script src="ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-cookies.js"></script>
    <script src="js/skulpt.min.js"></script>
    <script src="js/skulpt-stdlib.js"></script>
    <script src="js/main.js"></script>
</head>

<body ng-app="tastecodingApp" ng-controller="LecturesController as lecList">

    <div id="topbar">
       <div id="topbar-inner">
        <div id="logo" class="noselect">코딩맛보기
        
        <ul id="nav" class="nav noselect">
            <li>공부하기</li>
            <li>질문하기</li>
        </ul>
        </div>
        <ul id="nav-right" class="nav noselect">
            <li>내 계정</li>
            <li>의견내기</li>
            <li>로그아웃</li>
        </ul>
        <div id="lecture-title-wrapper" class="noselect">
        <div id="lecture-title-bar">
           <div id="previous-lecture" class="lecture-nav-btn" ng-click="lecList.toPrevLec()" ng-show="lecList.prevLec">{{lecList.prevLec.no}}. {{lecList.prevLec.name}}&nbsp;&nbsp;&nbsp;&lt; 
            </div>
           <div id="lecture-title">{{lecList.selectedLec.no}}. {{lecList.selectedLec.name}}</div>
           <div id="next-lecture" class="lecture-nav-btn" ng-click="lecList.toNextLec()" ng-show="lecList.nextLec">
            &gt;&nbsp;&nbsp;&nbsp;{{lecList.nextLec.no}}. {{lecList.nextLec.name}}</div>
        </div>
        </div>
        </div>
    </div>
    <div id="body-wrapper">
        <div id="lectures-wrapper">
            <ul id="lectures" class="noselect">
                <li ng-repeat="lec in lecList.list" ng-click="lecList.selectLec(lec)" ng-class="{active:lec==lecList.selectedLec}">{{lec.no}}<span class="lecture-title">. {{lec.name}} ({{lec.engName}})</span></li>
            </ul>
        </div>
        <div id="content-wrapper">
           
            <div id="content">

                <div id="left-wrapper">
                    <div id="editor-wrapper">
                        <ul class="tabs noselect">
                            <li class="tab">코드 편집기</li>
                            <button type="button" ng-click="lecList.runit()" id="editor-run">실행</button>
                        </ul>
                        <div id="editor"></div>
                    </div>
                    <div id="output-wrapper">
                        <ul class="tabs noselect">
                            <li class="tab">출력</li>
                        </ul>
                        <div id="output">
                            이곳은 여러분이 쓴 코드의 실행 결과가 출력되는 곳입니다.
                        </div>
                    </div>
                </div>
                <div id="right-wrapper">
                    <div id="slide-wrapper">
                        <ul class="tabs noselect">
                            <li class="tab">강의</li>
                        </ul>
                        <ul id="slide" class="noselect">
                            <li class="slide-item" ng-repeat="slide in lecList.slides" ng-click="lecList.selectSlide(slide)" ng-class="{active:slide==lecList.activeSlide}">{{ slide.text }}</li>
                        </ul>

                    </div>
                    <div id="ref-wrapper">
                        <ul class="tabs noselect">
                            <li class="tab">빠른 참조</li>
                            <select name="reference" id="refernece-select" ng-options="ref.no+' '+ref.name for ref in lecList.list" ng-model="lecList.selectedRef" ng-change="lecList.updateRef()">
                            </select>
                        </ul>
                        <div id="reference"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
