<!doctype html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>코딩 맛보기</title>
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/main.css">
	<script src="js/jquery-2.2.1.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
	<script src="js/skulpt.min.js"></script>
	<script src="js/skulpt-stdlib.js"></script>
	<script src="js/main.js"></script>
</head>

<body ng-app="tastecodingApp">

	<div id="topbar">
		<div id="logo">코딩맛보기</div>
		<ul id="nav" class="nav">
			<li>공부하기</li>
			<li>내 계정</li>
			<li>질문하기</li>
			<li>의견내기</li>
			<li>로그아웃</li>
		</ul>
	</div>
    <div id="body-wrapper">
    <div id="lectures-wrapper">
			<ul id="lectures">
				<li ng-repeat="lec in lecList.list">{{lec.no}}<span class="lecture-title">. {{lec.name}} ({{lec.engName}})</span></li>
			</ul>
    </div>
    <div id="content-wrapper">
	<div id="content" ng-controller="LecturesController as lecList">
		
		<div id="left-wrapper">
            <div id="editor-wrapper">
                <ul class="tabs">
                    <li class="tab">코드 편집기</li><button type="button" onclick="runit()" id="editor-run">실행</button>
                </ul>
                <div id="editor">#이곳은 코드 편집기입니다.
    for i in range(1, 10):
        print(i)
    </div>
            </div>
            <div id="output-wrapper">
                <ul class="tabs">
                    <li class="tab">출력</li>
                </ul>
                <div id="output">
                    이곳은 여러분이 쓴 코드의 실행 결과가 출력되는 곳입니다.
                </div>
            </div>
		</div>
		<div id="right-wrapper">
            <div id="slide-wrapper">
                <ul class="tabs">
                    <li class="tab">강의</li>
                </ul>
                <div id="slide">
                    코딩맛보기에 오신 것을 환영합니다!
                </div>

            </div>
            <div id="ref-wrapper">
                <ul class="tabs">
                    <li class="tab">빠른 참조</li>
                    <select name="reference" id="refernece-select" ng-options="ref.name for ref in lecList.list" ng-model="lecList.selectedRef">
                    </select>
                </ul>
                <div id="reference">
                    <pre>{{lecList.selectedRef.refText}}</pre>
                </div>
            </div>
		</div>
	</div>
	</div>
    </div>
	<script src="ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
	<script>
		editor = ace.edit("editor");
		editor.setTheme("ace/theme/monokai");
		editor.getSession().setMode("ace/mode/python");
		editor.setShowPrintMargin(false);
	</script>
</body>

</html>
