<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>코딩 맛보기</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/jquery-2.2.1.min.js"></script>
    <script src="ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-cookies.js"></script>
    <script src="js/skulpt.min.js"></script>
    <script src="js/skulpt-stdlib.js"></script>
    <script src="js/mousetrap.min.js"></script>
    <script src="js/app.js"></script>
</head>

<body ng-app="tastecodingApp" ng-controller="LectureController as lc">

    <div id="topbar">
       <div id="topbar-inner">
        <div id="logo" class="noselect">코딩맛보기
        
        <ul id="nav" class="nav noselect">
            <li>공부하기</li>
            <li>질문하기</li>
        </ul>
        </div>
        <ul id="nav-right" class="nav noselect">
            <li>내 계정</li>
            <li>의견내기</li>
            <li>로그아웃</li>
        </ul>
        <div id="lecture-title-wrapper" class="noselect">
        <div id="lecture-title-bar">
           <div id="previous-lecture" class="lecture-nav-btn" ng-click="lc.selectPrevLecture()" ng-show="lc.prevLecture">{{lc.prevLecture.no}}. {{lc.prevLecture.name}}&nbsp;&nbsp;&nbsp;&lt; 
            </div>
           <div id="lecture-title">{{lc.selectedLecture.no}}. {{lc.selectedLecture.name}}</div>
           <div id="next-lecture" class="lecture-nav-btn" ng-click="lc.selectNextLecture()" ng-show="lc.nextLecture">
            &gt;&nbsp;&nbsp;&nbsp;{{lc.nextLecture.no}}. {{lc.nextLecture.name}}</div>
        </div>
        </div>
        </div>
    </div>
    <div id="body-wrapper">
        <div id="lectures-wrapper">
            <ul id="lectures" class="noselect">
                <li ng-repeat="lec in lc.lectures" ng-click="lc.selectLecture(lec)" ng-class="{active:lec==lc.selectedLecture}">{{lec.no}}<span class="lecture-title">. {{lec.name}} ({{lec.engName}})</span></li>
            </ul>
        </div>
        <div id="content-wrapper">
           
            <div id="content">

                <div id="left-wrapper">
                    <div id="editor-wrapper">
                        <ul class="tabs noselect">
                            <li class="tab">코드 편집기</li>
                            <button type="button" ng-click="lc.runit()" id="editor-run">실행</button> <small>ctrl+b</small>
                        </ul>
                        <div id="editor"></div>
                    </div>
                    <div id="output-wrapper">
                        <ul class="tabs noselect">
                            <li class="tab">출력</li>
                        </ul>
                        <div id="output">
                            이곳은 여러분이 쓴 코드의 실행 결과가 출력되는 곳입니다.
                        </div>
                    </div>
                </div>
                <div id="right-wrapper">
                    <div id="slide-wrapper">
                        <ul class="tabs noselect">
                            <li class="tab">강의</li> <span ng-click="lc.play()">▶</span> <span ng-click="lc.pause()">&#10074;&#10074;</span><audio id="audioPlayer" ng-src="{{lc.selectedLecture.audioURL}}"></audio>
                        </ul>
                        <ul id="slide" class="noselect">
                            <li class="slide-item" ng-repeat="slide in lc.slides" ng-click="lc.selectSlide(slide)" ng-class="{active:slide==lc.selectedSlide}"><pre>{{ slide.text }}</pre></li>
                        </ul>

                    </div>
                    <div id="ref-wrapper">
                        <ul class="tabs noselect">
                            <li class="tab">빠른 참조</li>
                            <select name="reference" id="refernece-select" ng-model="lc.selectedReference" ng-options="ref as ref.no+' '+ref.name for ref in lc.lectures" ng-change="lc.showReference()">
                            </select>
                            <small>이전: ctrl+쉼표 다음: ctrl+온점</small>
                        </ul>
                        <div id="reference"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
